<launch>
    <arg name="launch_rviz" default="True" doc="Option to launch RViz"/>

    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
        <arg name="filters" value="pointcloud"/>
        <arg name="align_depth" value="true"/>
    </include>

    <node name="face_detection" pkg="vision" type="face_detection" output="screen"/>

    <node name="rviz" type="rviz" pkg="rviz" args="-d $(find vision)/config/face_detection.rviz" if="$(arg launch_rviz)"/>
</launch>