<launch>

    <rosparam command="load" file="$(find vision)/config/thermometer_calibration.yaml"/>

	<node pkg="baxter_tools" type="camera_control.py" name="camera_con" args="-o right_hand_camera -r 1280x800"/>

    <node name="read_temperature" pkg="vision" type="read_temperature" output="screen"/>

    <node name="read_digit" pkg="vision" type="read_digit" output="screen"/>

</launch>
