<launch>
    <include file="$(find baxter_moveit_config)/launch/baxter_grippers.launch"/>

    <!-- Start Joint Trajectory Server -->
    <node name="joint_trajectory_action_server" pkg="baxter_interface" 
    type="joint_trajectory_action_server.py" output="screen" />

    <!-- Start Moveit node -->
    <node name="moveit_mover" pkg="motion" type="moveit_mover" output="screen"/>
</launch>