<launch>
    <arg name="load_robot_description" default="false"/>
    <include file="$(find baxter_moveit_config)/launch/move_group.launch">
        <arg name="allow_trajectory_execution" value="true"/>
    </include>

    <node name="joint_trajectory_action_server" pkg="baxter_interface" 
    type="joint_trajectory_action_server.py" output="screen" />

    <node name="moveit_mover" pkg="motion" type="moveit_mover"/>
</launch>